body {
    position: relative;
    padding: 10px;
    border: 1px solid black;
    margin: 10;
    margin-right: 20%;
    margin-left: 20%;
    height: 1200px;
}

p {
    text-align: center;
}

header , footer, nav , article, div{

    margin: 10px;
    padding: 0;
    border: 1px solid black;
}

#sec1{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    height: 900px;
    width: 300px;
    float: left;
}

#nav1{
    height: 700px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#nav1txt{
    line-height: 500px;
}

#sec2{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    height: 900px;
    width: 735px;
    float: left;
}

#paside1{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    height: 172px;
    width: 400px;
    float: left;
}
#paside2{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    height: 172px;
    width: 225px;
    float: left;
}

#article1{
    position: relative;
    height: 400px;
}

#footer1{
    width: 97%;
    position: absolute;
    bottom: 0;
}

#footer00{
    position: absolute;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 94.5%;
    bottom:0;
}
